## **Segmentation**

Data Source : [data source link]

By taking visualization part and WHO dataset under consideration Three priority levels(segments) has been defined and based on this segments the attention criteria can be fulfilled.

The WHO dataset, according to the country, was observed to have countries, cases - newly reported in the last 7 days, and cases - newly reported in the last 7 days per 100000 population. With these attributes, two new attributes were created: the percentage of cases - newly reported in the last 7 days per 100000 population  and the level of risk. 


**percenatge** = {X} / {sum(X)} * 100100 
where, X = cases newly reported in last 7 days per 100000 population


The three values were assigned to the level of risk according to the percentage of cases where,
\begin{align}
  risk level=\begin{cases}
    2, & \text{if $ percent > 2 $}\\
    1, & \text{if $$ percent < 2 <= 1 $$}\\
    0, & \text{$otherwise$}
  \end{cases}
\end{align}

The final step is to segment the international travellers in three possible segments - Immediate Priority, High Priority and Low Priority

*   **Immediate Priority**- The Passengers who need immediate attention, i.e. should be selected for RTPCR Testing

*   **High Priority and Medium Priority** - Passengers who can be randomly selected for RTPCR Testing, but donot require immediate attention

*  **Lower Priority** - Passengers that dont fulfil the criteria for Immediate or High Priority.

<br/> The Definition of the Priority is decided by Canada's Covid Cases Data vlsualizations from last 7 days based on the factors of Age and Gender

Based on the Data Visualizations, here are the definitions of the Segments

**Immediate Priority Level 3**- Travellers with Age 70 and above, RTPCR Postive Reports greater than 14 days (2 weeks) old. Both Males and Females, Travelling from  High affected countries (Percentage of Cases - newly reported in last 7 days per 100000 population is 2% and above; reference : WHO Data).

**Immediate Priority Level 2 A**- Travellers with Age 70 and above, RTPCR Postive Reports less than 14 days (2 weeks) old. Both Males and Females, Travelling from High affected countries (Percentage of Cases - newly reported in last 7 days per 100000 population is 2% and above; reference : WHO Data).

**Immediate Priority Level 2 B**- Travellers with Age 70 and above, RTPCR Postive Reports greater than 14 days (2 weeks) old. Both Males and Females, Travelling from low affected countries (Percentage of Cases - newly reported in last 7 days per 100000 population is 1% and below; reference : WHO Data).


**High Priority Level 3**- Travellers with Age 50 to 69, RTPCR Postive Reports greater than 14 days old. Both Males and Females, Travelling from High affected countries (Percentage of Cases - newly reported in last 7 days per 100000 population is 2% and above; reference : WHO Data). 

**High Priority Level 2 A**- Travellers with Age 50 to 69, RTPCR Postive Reports less than 14 days (2 weeks) old. Both Males and Females, Travelling from High affected countries (Percentage of Cases - newly reported in last 7 days per 100000 population is 2% and above; reference : WHO Data). 

**High Priority Level 2 B**- Travellers with Age 50 to 69, RTPCR Postive Reports greater than 14 days old. Both Males and Females, Travelling from low affected countries (Percentage of Cases - newly reported in last 7 days per 100000 population is 1% and below; reference : WHO Data).

**Medium Priority Level 2 A** : Travellers with Age 50 and above with RTPCR Negative Reports.

**Medium Priority Level 2 B** : Travellers with Age 0 to 49 with RTPCR Postive Reports

**Low Priority Level** : Travellers with Age 0 to 49 with RTPCR Negative Reports

In [ ]:
import pandas as pd
import plotly.express as px
import plotly.graph_objs as go
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot') #available styles: https://matplotlib.org/3.1.1/gallery/style_sheets/style_sheets_reference.html

In [ ]:
report_data = pd.read_csv('SegmentationMaster.csv')
# who = pd.read_csv('who.csv')

In [ ]:
report_data

,Date,PCR_Status,Gender,Age,Location,Country,RTPCR Validity
0,2/21/2022,NO,MALE,31,INDIA,INDIA,474
1,6/22/2021,NO,MALE,21,INDIA,INDIA,718
2,11/12/2020,NO,MALE,21,"TURBHE, NAVI MUMBAI",INDIA,940
3,11/12/2020,NO,MALE,25,"TURBHE, NAVI MUMBAI",INDIA,940
4,11/12/2020,NO,MALE,33,"TURBHE, NAVI MUMBAI",INDIA,940
...,...,...,...,...,...,...,...
176,9/1/2021,YES,MALE,72,"BAMAKO, MALI",MALI,647
177,7/29/2021,YES,MALE,32,"BAMAKO, MALI",MALI,681
178,11/11/2021,YES,MALE,18,"BAMAKO, MALI",MALI,576
179,3/31/2020,YES,MALE,27,"BAMAKO, MALI",MALI,1166
180,3/25/2021,NO,MALE,12,"NUUK, GREENLAND",GREENLAND,807

# Immediate level 2B

 Travellers with Age 70 and above, RTPCR Postive Reports greater than 14 days (2 weeks) old. Both Males and Females, Travelling from low affected countries (Percentage of Cases - newly reported in last 7 days per 100000 population is 1% and below; reference : WHO Data).

In [ ]:
report_data[(report_data['Age'] > 70) & (report_data['PCR_Status'] == 'YES') & (report_data['RTPCR Validity'] > 14)]

           Date PCR_Status  Gender  Age      Location Country  RTPCR Validity
116  11/13/2020        YES  FEMALE   72         INDIA   INDIA             939
176    9/1/2021        YES    MALE   72  BAMAKO, MALI    MALI             647

# High level 2B

Travellers with Age 50 to 69, RTPCR Postive Reports greater than 14 days old. Both Males and Females, Travelling from low affected countries (Percentage of Cases - newly reported in last 7 days per 100000 population is 1% and below; reference : WHO Data).

In [ ]:
report_data[((report_data['Age'] > 50) & (report_data['Age'] < 70)) & (report_data['PCR_Status'] == 'YES') & (report_data['RTPCR Validity'] > 14)]

,Date,PCR_Status,Gender,Age,Location,Country,RTPCR Validity
125,11/11/2021,YES,MALE,58,"WARANGAL,",INDIA,576
126,8/31/2021,YES,MALE,67,"WARANGAL,",INDIA,648
131,8/21/2021,YES,FEMALE,67,"WARANGAL,",INDIA,658
133,11/11/2021,YES,FEMALE,58,"WARANGAL,",INDIA,576
135,11/14/2020,YES,MALE,56,INDIA,INDIA,938
168,7/29/2021,YES,MALE,64,"TIRANA, ALBANIA",ALBANIA,681
169,9/19/2020,YES,MALE,64,"TIRANA, ALBANIA",ALBANIA,994
170,9/19/2020,YES,MALE,64,"TIRANA, ALBANIA",ALBANIA,994

# Medium 2A

Travellers with Age 50 and above with RTPCR Negative Reports.

In [ ]:
medium_2a = report_data[(report_data['Age'] > 50) & (report_data['PCR_Status'] == 'NO') & (report_data['RTPCR Validity'] > 14)]

In [ ]:
medium_2a

,Date,PCR_Status,Gender,Age,Location,Country,RTPCR Validity
22,4/17/2021,NO,FEMALE,60,INDIA,INDIA,784
25,4/17/2021,NO,MALE,60,INDIA,INDIA,784
29,4/4/2021,NO,FEMALE,55,INDIA,INDIA,797
35,4/4/2021,NO,FEMALE,55,INDIA,INDIA,797
49,2/21/2022,NO,FEMALE,56,INDIA,INDIA,474
88,2/21/2022,NO,FEMALE,56,INDIA,INDIA,474
91,2/21/2022,NO,FEMALE,56,INDIA,INDIA,474
95,12/31/2020,NO,FEMALE,68,INDIA,INDIA,891
106,5/31/2021,NO,FEMALE,62,INDIA,INDIA,740
114,11/23/2022,NO,FEMALE,78,INDIA,INDIA,199
122,10/21/2020,NO,FEMALE,56,INDIA,INDIA,962
127,8/31/2020,NO,MALE,67,INDIA,INDIA,1013
128,11/9/2020,NO,FEMALE,98,INDIA,INDIA,943
132,9/24/2020,NO,MALE,67,INDIA,INDIA,989
134,10/24/2021,NO,MALE,61,INDIA,INDIA,594
143,1/29/2022,NO,MALE,89,INDIA,INDIA,497
149,8/9/2022,NO,FEMALE,85,INDIA,INDIA,305
152,11/14/2021,NO,FEMALE,72,"NUUK, GREENLAND",GREENLAND,573
153,11/14/2021,NO,MALE,61,"NUUK, GREENLAND",GREENLAND,573

In [ ]:
labels = medium_2a['Country'].value_counts().index
values = medium_2a['Country'].value_counts().values
# Create pie chart
fig = go.Figure(data=go.Pie(labels=labels, values=values, hole=0.5))

# Display the chart
fig.show()